* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body,
input,
textArea,
button {
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
    font-family: inherit;
}

button {
    cursor: pointer;
    border: 0;
}

[disabled] {
    opacity: .6;
    cursor: not-allowed;
}